html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


:root {
    --icon-silver--:#AFB1B8;
    --primary-text-color: #757575;
    --section-title-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --fotter-link: rgba(255, 255, 255, 0.6);


}
  
/* --------RESET------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul, ol {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
}

/* ----------загальні--------- */


body {

    color:var(--primary-text-color) ;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;   
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.title {
    color:var(--section-title-color);
    ;

}


.join-title,
.hero-title,
.preferences-title {
    text-transform: uppercase;
}



.section-title {
    height: 42px;
    margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    
        color:var(--section-title-color)
}

ul {
    list-style: none;
} 

.link {
    text-decoration: none;
    color: currentColor;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* heder */
/* логотип */



.container-header {

    display: flex;
      
    align-items: center;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #ECECEC;

}

.logo {

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    text-decoration: none;
}

header .logo {
    margin-right: 93px;
}

.footer .logo {
    margin-bottom: 20px;
    display: block;
}


.logo-white {
    color: var(--white-color);
}

.logo-black {
    color: var(--section-title-color);
}

/* site naw */

.nav-item:not(:last-child),
.connection-item:not(:last-child)   {
    margin-right: 50px;
}




.site-nav .link {
    color: var(--section-title-color);
            

}



.site-nav .link:hover,
 .site-nav .link:focus {
    color: var(--accent-color);
 }
 .site-link .link,
 .site-nav .link {
     display: inline-block;
     padding-top: 32px;
     padding-bottom: 32px;

 }



/* посилання у шапці  */

.connection-icon {
    margin-right: 10px;
    fill: currentColor;
}

.site-link {
    
 align-items: center;
   
    margin-left: auto;
}


.site-link .link {
color: var(--primary-text-color);
display: flex;
    align-items: center;
}

.site-link .link:hover,
.site-link .link:focus {
    color: var(--accent-color);
}



/* спільне для усіх посилань шапки */
.site-link,
.site-nav {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em; 
         display: flex;
 align-items: center;

}
/* хедер закрито */


 
/* main */

/* герой */



.hero {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/icons&BG/Img-bg-hero.jpg);
    background-size: 1600px auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

}

    

.hero-title {
    margin-bottom: 30px;
           font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        margin-left: auto;
        margin-right: auto;
    
        max-width: 696px;
     
}
       
/* button */
.hero .hero-button {
    
    min-width: 200px;
    padding: 10px  34px;
        border-radius: 4px;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        border: 0;
        background-color: #2196F3; 

        cursor: pointer; 
   
}


.hero .hero-button:hover,
.hero .hero-button:focus {
    background: #188CE8;
}



 /* cпільне для банера */
 .hero-button,
 .hero-title {
     color: var(--white-color);
     letter-spacing: 0.06em;
  
 } 
 /* герой закрито */

 /* перша секція */

  .section-preferences {
    padding-bottom: 0;
  }


  .preferences {
      flex-basis: calc((100% - 90px) / 4);
  }


 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }


.preferences-title {
    margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--section-title-color)
}
.preferences-text {

        font-size: 14px;
        line-height: 1.71;
 }

 .pref-img  {
     display: flex;
     align-items: center;
     justify-content: center;

    height: 120px;
    background: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
     
 }


 /* перша секція закрито */


 /* -----------WORKS--------- */



.works-foto {
    flex-basis: calc((100% - 60px) / 3);

}





/* наша команда */

.co-worker {
    flex-basis: calc((100% - 90px) / 4);
    background-color: var(--white-color);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.our-team {
background: #F5F4FA;
}


.co-worker-info {
    padding: 30px;
    text-align: center;
}

.name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        margin-bottom: 10px;


}

.position {
        font-size: 16px;
        line-height: 1.17;
        margin-bottom: 16px;


}

/* наша команда end */



/* ---------customers-------- */

.customer-title {
    
}

.customers-container {
 
}







.customer {
    
    flex-basis: calc((100% - 150px) / 6 );
}





.customer:hover,
.customer:focus
 {
     color: var(--accent-color);
  
}

.customer-link:hover,
.customer-link:focus {
    color:var(--accent-color);
    border-color: var(--accent-color);
    /* color: var(--accent-color);
    border: var(--accent-color); */
}

.customer-link {
    width: 100%;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    
    display: flex;
    align-items: center;
    
        justify-content: center;
        
    color: var(--icon-silver--);
}

.customer-icon {
   
   position: absolute;
    fill: currentColor;
}



/* main end */


/* footer */

.soc {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color:var(--white-color);
            background-color: rgba(255, 255, 255, 0.1);
    
        }
 
        
.soc:hover,
.soc:focus {
    background-color: var(--accent-color);
}

.soc-item:not(:last-child) {
    margin-right: 10px;
}


.footer-containers {
    display: flex;
    align-items: baseline;
}





.footer {
    background: #2F303A;
padding-bottom: 60px;
padding-top: 60px;
}

.footer .master-soc {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
}


.kuyiv-address {
    font-style: normal;
     margin-top: 20px;
    color: #ffffff;
}

.address .link {
    display: block;
    width: 231px;
    color: var(--fotter-link);
    font-style: normal;
}

 .adress-item:not(:last-child) {
    margin-bottom: 9px;

}


.address-link .link,
.address {
font-size: 14px;
}

.soc-list {
    display: flex;
}

.join-container {

 
}


.join-title {
    font-weight: 700;
    font-size: 14;
    height: 1.14;
    text-align: left;
    margin-bottom: 20px;
    
    color: var(--white-color);
     /* Font size: 14px;
      Line height: 16px; 
      Align: Left; */
}


.footer-item:not(:last-child){
    margin-right: 70px;

}





/* ------постійні клієнти------- */








/* додатково для портфоліо */
 
/* filter button */



.filter {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 50px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.filters:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;



    font-weight: 500;
        font-size: 16px;
        line-height:1.62;
        color: var(--section-title-color);
        cursor: pointer;
        background: #F5F4FA;
}
.filter-button:hover,
.filter-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    font-family: inherit;

    color: var(--white-color);
    background-color: var(--accent-color);
}
 /* filter button end */
 
 /* приклади */

.one-exampl {

    flex-basis: calc((100% - 60px) / 3);
     
 }

  .exampl-wrap {
      padding: 20px 24px;
      border-top: 0;
      border: 1px solid #EEEEEE;
  }

 .one-exampl .link:hover,
 .one-exampl .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }


.exampls .title {
    
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        
} 

.exampls .kind {
    
        font-size: 16px;
        line-height: 1.87;
        color: var(--primary-text-color);
       
        margin-top: 4px;
}


 .address-link .link:hover, 
 .address-link .link:focus {
     color: var(--accent-color);
 }

 /* правкі */
.site-nav .current {
    color: var(--accent-color);
}
.filter .current {
background-color: var(--accent-color);
color: var(--white-color);
}

.exampl-link {
    display: flex;
    flex-direction: column;
}



/* ---------ICONS-------- */

.master-soc {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-silver--);
    

}




.co-worker-soc-icon {
    fill: currentColor;
}

.master-soc:hover,
.master-soc:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}



.co-worker-soc-list {
    display: flex;
    justify-content: center;
   
}

.co-worker-soc-item:not(:last-child) {
    margin-right: 10px;
}


/* -------header icins-------- */

